<!DOCTYPE html>

<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8">
		
		<title>
			System Dashboard
		</title>
		
		<!-- External CSS Link --->
		<link rel="stylesheet" href="css/style.css">
	</head>

	<body>
		<!-- Header -->
		<header>
			<h1>
				<!-- Login Page Link-->
				<a href ="login.html" class="login-btn" style = "color:black;">LOGIN</a>
			</h1>
			<hr>
			<div id="system-info">
				<p id="clock"></p>		
				<div id="status-container">
					<span id="status-dot"></span>
					<span id="status-text">SYSTEM ONLINE</span>
				</div>
			</div>
		</header>
		
		<!-- Main -->
		<main>
			<!-- Main Options Link -->
			<a href = "options.html"  class = "logo-link" >
				<img src = "../static/main_logo.png" alt="Company Security System logo">
			</a>
		</main>
		
		
		<!-- Footer -->
		<footer>
			<a href ="about.html"><strong>ABOUT</strong></a>
			<!-- Future Links : Contact Details, help -->
		</footer>
		
	<script src="script.js"></script>
	<!--
		<script src="{{ url_for('static',filename='js/script.js') }}"></script>
	-->
	</body>
</html>