<!DOCTYPE html>

<html lang="en">
	<head>
		<title>
			System Dashboard
		</title>
		
		<!-- External CSS Link --->
		<link rel="stylesheet" href="css/style.css">
		
	</head>

	<body>
		<!-- Header -->
		<header>
			<h1>
				<!-- Login Page Link-->
				<a href ="login.html" class="login-btn" style = "color:black;">LOGIN</a>
			</h1>
			<hr>
		</header>
		
		<!-- Main -->
		<main>
			<!-- Main Options Link -->
			<a href = "options.html"  class = "logo-link" >
				<img src = "../static/main_logo.png" alt="Company Security System logo">
			</a>
		</main>
		
		<!-- Footer -->
		<footer>
			<a href ="about.html"><strong>ABOUT</strong></a>
			<!-- Future Links : Contact Details, help -->
		</footer>
		
	</body>
</html>